<router-outlet></router-outlet>

<div id="delet">
  <form (ngSubmit) = "updateDoctor(crm)" >
    <div class="form-group col-md-5">
      <label for="inputAddress">CRM:</label>
      <input type="text" class="form-control" id="crm" name="crm" placeholder="Aepnas números" [(ngModel)]="crm" required="required" maxlength="6" pattern="\d*">
      <button type="submit" style="margin-left: 32%;" class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample2" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Pesquisar</button>
    </div>
  </form>

</div>
<div id="buttons">
<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Abrir aba de cadastro</a>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Abrir aba de edição cadastral</button>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Exibir/Fechar Listas</button>
</p>
</div>


<div id="informatios">
  <div class="row">
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample1">
        <div class="card card-body">
          <div id="formDoctors">
            <div id="doctors">
          
              <form (ngSubmit) = "onSubmit()" [formGroup]="jsonDoctor">
              <p style="text-align: center;">Cadastro de Médicos</p>

                <div class="form-row">
                  <div class="form-group col-md-6" [formGroup]="jsonDoctor">
                    <label for="inputAddress">Nome</label>
                    <input type="text" class="form-control" id="nome" placeholder="Nome" formControlName="nome" name="nome">
                  </div> 

                  <div class="form-group col-md-6" [formGroup]="jsonDoctor">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email" formControlName="email" name="email">
                  </div>
                </div>

                <div class="form-group" [formGroup]="jsonDoctor">
                  <label for="inputAddress">Especialidade</label><br>
                  <div class="dropdown">
                    <select class="form-control" id="exampleFormControlSelect1" formControlName="especialidade" name="especialidade">
                      <option selected>Selecione</option>
                      <option>ORTOPEDIA</option>
                      <option>CARDIOLOGIA</option>
                      <option>GINECOLOGIA</option>
                      <option>DERMATOLOGIA</option>
                    </select>
                  </div>
                </div>
          
              <div class="form-row">
                  <div class="form-group col-md-4" formGroupName="endereco">
                  <label for="inputAddress2">Logradouro:</label>
                  <input type="text" class="form-control" id="inputAddress2" formControlName="logradouro" placeholder="Logradouro" name="logradouro">
                </div> 
                
                
                <div class="form-group col-md-4" formGroupName="endereco">
                  <label for="inputAddress2">Bairro:</label>
                  <input type="text" class="form-control" id="inputAddress2" placeholder="Bairro" formControlName="bairro" name="bairro">
                </div>
                
                <div class="form-group col-md-4" [formGroup]="jsonDoctor">
                  <label for="inputAddress3">Celular:</label>
                  <input type="text" class="form-control" id="inputAddress3" placeholder="Ex.: (11) 9 9999-9999" formControlName="telefone" name="telefone">
                </div>
              
              <div class="form-group col-md-4" [formGroup]="jsonDoctor">
                  <label for="inputAddress3">CRM:</label>
                  <input type="text" class="form-control" id="inputAddress3" placeholder="Digite o CRM" formControlName="crm" maxlength="6" name="crm">
                </div>
                <div class="form-group col-md-4" formGroupName="endereco">
                  <label for="inputAddress3">Numero:</label>
                  <input type="number" class="form-control" id="inputAddress3" placeholder="Ex.: 123" formControlName="numero" name="numero">
                </div>
                <div class="form-group col-md-4" formGroupName="endereco">
                  <label for="inputAddress4">Complemento:</label>
                  <input type="text" class="form-control" id="inputAddress4" placeholder="Ex.: Perto da padaria" formControlName="complemento" name="complemento">
                </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-4" formGroupName="endereco">
                    <label for="inputCity">Cidade</label>
                    <input type="text" class="form-control" id="inputCity" placeholder="Ex.: São Paulo" formControlName="cidade" name="cidade">
                  </div>
                  <div class="form-group col-md-4" formGroupName="endereco">
                    <label for="inputState">UF</label>
                    <select id="inputState" class="form-control" formControlName="uf" name="uf">
                      <option selected>SP</option>
                    </select>
                  </div>
                  <div class="form-group col-md-2" formGroupName="endereco">
                    <label for="inputZip">CEP:</label>
                    <input type="text" class="form-control" id="inputZip" placeholder="99999-999" formControlName="cep" name="cep">
                  </div> 
                </div>
                <div class="form-group">
                </div>
                <button type="submit" style="margin-left: 36%;" class="btn btn-primary" [disabled]="jsonDoctor.invalid">Cadastrar</button>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample2">
        <div class="card card-body">
          <div id="formDoctors">
            <div id="doctors" *ngFor="let doctors of doctorFormById">

                <div class="infos">Doutor(a): {{doctors.nome}}</div> 
                <div class="infos">CRM: {{doctors.crm}}</div> 
                <br>

              <form (ngSubmit) = "update()" [formGroup]="jsonDoctorUpdate">
              <p style="text-align: center;">Edição Cadastral</p>

                <div class="form-row">
                  <div class="form-group col-md-6" [formGroup]="jsonDoctorUpdate">
                    <label for="inputAddress">Nome</label>
                    <input type="text" class="form-control" id="nome" placeholder="Nome" formControlName="nome" name="nome">
                  </div> 

                  <div class="form-group col-md-6" [formGroup]="jsonDoctorUpdate">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email" formControlName="email" name="email">
                  </div>
                </div>
          
              <div class="form-row">
                  <div class="form-group col-md-4" formGroupName="endereco">
                  <label for="inputAddress2">Logradouro:</label>
                  <input type="text" class="form-control" id="inputAddress2" formControlName="logradouro" placeholder="Logradouro" name="logradouro">
                </div> 
                
                
                <div class="form-group col-md-4" formGroupName="endereco">
                  <label for="inputAddress2">Bairro:</label>
                  <input type="text" class="form-control" id="inputAddress2" placeholder="Bairro" formControlName="bairro" name="bairro">
                </div>
              
              <div class="form-group col-md-4" [formGroup]="jsonDoctorUpdate">
                  <label for="inputAddress3">CRM:</label>
                  <input type="text" class="form-control" id="inputAddress3" placeholder="Digite o CRM" name="crm" value="{{doctors.crm}}" disabled>
                </div>
                <div class="form-group col-md-4" formGroupName="endereco">
                  <label for="inputAddress3">Numero:</label>
                  <input type="number" class="form-control" id="inputAddress3" placeholder="Ex.: 123" formControlName="numero" name="numero">
                </div>
                <div class="form-group col-md-4" formGroupName="endereco">
                  <label for="inputAddress4">Complemento:</label>
                  <input type="text" class="form-control" id="inputAddress4" placeholder="Ex.: Perto da padaria" formControlName="complemento" name="complemento">
                </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-4" formGroupName="endereco">
                    <label for="inputCity">Cidade</label>
                    <input type="text" class="form-control" id="inputCity" placeholder="Ex.: São Paulo" formControlName="cidade" name="cidade">
                  </div>
                  <div class="form-group col-md-4" formGroupName="endereco">
                    <label for="inputState">UF</label>
                    <select id="inputState" class="form-control" formControlName="uf" name="uf">
                      <option selected>SP</option>
                    </select>
                  </div>
                  <div class="form-group col-md-2" formGroupName="endereco">
                    <label for="inputZip">CEP:</label>
                    <input type="text" class="form-control" id="inputZip" placeholder="99999-999" formControlName="cep" name="cep">
                  </div> 
                </div>
                <div class="form-group">
                  <div id="buttonsSubmit">
                  <button type="submit" class="btn btn-primary">Editar</button>
                  <button type="button" (click)="deleteDoctor(doctors.crm)" style="margin-left: 2%;" class="btn btn-danger">Deletar</button>
                    
                </div>
              </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="display">
    <div id="buttons2">
      <div id="buttonsCollapse">
        <p>
          <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          Exibir lista
          </a>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Exibir/Fechar Lista
          </button>
        </p>
        </div>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <table class="table table-hover" id="table">
          <thead> 
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nome</th>
              <th scope="col">E-mail</th>
              <th scope="col">CRM</th>
              <th scope="col">Especialidade</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let doctors of doctor">
              <td>{{ doctors.id }}</td>
              <td>{{ doctors.nome }}</td>
              <td>{{ doctors.email }}</td>
              <td>{{ doctors.crm }}</td>
              <td>{{ doctors.especialidade }}</td>
             </tr>
            </tbody>
         </table>
        </div>
      </div>
    

</div>
