<router-outlet></router-outlet>

<p>
    <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false"
        aria-controls="multiCollapseExample1">Adendamento de Consultas</a>
    <button class="btn btn-primary" type="none" data-toggle="collapse" data-target="#multiCollapseExample2"
        aria-expanded="false" aria-controls="multiCollapseExample2">Toggle second element</button>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse"
        aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Toggle both elements</button>
</p>
<div class="row">
    <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div class="card card-body">
                <h1><p>Agendamento de Consultas</p></h1>
               
                <br>

                <form class="needs-validation" (ngSubmit)="teste()" [formGroup]="jsonConsult">
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom01">Nome Completo:</label>
                            <input type="text" class="form-control" id="validationCustom01"
                                placeholder="Digite o nome completo do paciente" formControlName="nome" name="nome">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom02">CPF:</label>
                            <input type="text" class="form-control" id="validationCustom02" placeholder="CPF"
                                formControlName="cpf" id="cpf" name="cpf" [(ngModel)]="cpf">
                        </div>

                        <button class="btn btn-primary" (click)="pesquisar(cpf)">Pesquisar</button>

                    </div>
                    <br>

                    <div class="custom-control custom-checkbox my-1 mr-sm-2">
                        <div id="consulta0" class="active div-inline">

                            <label>Convênio:</label>
                            <input type="checkbox" id="active" data-id="active" name="active">
                        </div>
                        <div class=" item1">
                            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref"
                                lass="btn btn-success" name="convenio" formControlName.isDisabled="convenio" disabled>
                                <option value="">Selecione</option>
                                <option value="NotreDame Intermédica">NotreDame Intermédica</option>
                                <option value="Prevent Senior">Prevent Senior</option>
                                <option value="Bradesco Seguros">Bradesco Seguros</option>
                                <option value="Amil Assistência Médica">Amil Assistência Médica</option>
                            </select>
                        </div>
                    </div>

                    <br>

                    <label>Especialidade:</label><br>
                    <div class=" item1">
                        <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="especialidade"
                            formControlName="especialidade">
                            <option value="ORTOPEDIA">Ortopedia</option>
                            <option value="CARDIOLOGIA">Cardiologia</option>
                            <option value="GINECOLOIA">Ginecologia</option>
                            <option value="DERMATOLOGIA">Dermatologia</option>
                        </select>
                        <button class="btn btn-primary" mat-button (click)="openDialog()">Verificar Horários</button>
                    </div>
                    <br>
                    <br>

                    <div class="form-row" id="dates">

                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Choose a date</mat-label>
                            <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" name="data"
                                formControlName="data">
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                        <div class="ngx-timepicker-field-example">
                            <ngx-timepicker-field [format]="24" name="hora"
                                formControlName="hora"></ngx-timepicker-field>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit" [disabled]="jsonConsult.invalid">Cadastrar Consulta</button>
                </form>
            </div>
        </div>
    </div>


    <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample2">
            <div class="card card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil
                anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
        </div>
    </div>
</div>