#formPatients #display{
    padding: 2%;
}

#patients{
   border: 1px solid rgb(224, 224, 224);
    border-radius: 10px;
    background-color: rgb(241, 240, 240);
}

form{
    padding: 1%;
}

#buttons{
    text-align: center;
    padding-top: 2%;
}

#delet{
    margin-left: 35%;
    margin-top: 3%;
}

#delet button{
    margin-top: 15px;
    margin-left: 50px;
}

#delet label{
    margin-left: 40%;
}

#buttons2{
    padding-top: 3%;
    padding-left: 2%;
}

#buttonsCollapse{
    text-align: center;
}

.card-body{
    border: 1px solid rgb(224, 224, 224);
    border-radius: 10px;
    background-color: rgb(241, 240, 240);
}

button{
    margin-left: 0.2%;
}

.infos{
    /* padding: 6%; */
    margin-left: 5%;
    text-align: center;
}

.row{
    padding: 2%;
}

#informations{
    padding: 5%;   
}

#display{
    padding-left: 2.2%;
    padding-right: 2.2%;
}

#buttonsSubmit{
    margin-left: 36%;
}

input:invalid {
    border-color: red !important;
  }
  input:valid {
    border-color: green !important;
  }

thead{
    padding: 5%;
  }