<router-outlet></router-outlet>

<div id="delet">
  <form (ngSubmit) = "updatePatient(cpf)" >
    <div class="form-group col-md-5">
      <label for="inputAddress">CPF:</label>
      <input type="number" class="form-control" id="cpf" name="cpf" placeholder="Digite o CPF" [(ngModel)]="cpf" required="">
      <button type="submit" style="margin-left: 32%;" class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample2" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Pesquisar</button>
    </div>
  </form>

</div>
<div id="buttons">
<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Abrir aba de cadastro</a>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Abrir aba de edição cadastral</button>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Exibir/Fechar Listas</button>
</p>
</div>


<div id="informatios">
  <div class="row">
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample1">
        <div class="card card-body">
          <div id="formDoctors">
            <div id="doctors">
          
              <form (ngSubmit) = "onSubmit()" [formGroup]="jsonPatient">
              <p style="text-align: center;">Cadastro de Médicos</p>

                <div class="form-row">
                  <div class="form-group col-md-6" [formGroup]="jsonPatient">
                    <label for="inputAddress">Nome</label>
                    <input type="text" class="form-control" id="nome" placeholder="Nome" formControlName="nome" name="nome">
                  </div> 

                  <div class="form-group col-md-6" [formGroup]="jsonPatient">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email" formControlName="email" name="email">
                  </div>
                </div>
                
              <div class="form-row">
                <div class="form-group col-md-4" [formGroup]="jsonPatient">
                  <label for="inputAddress3">CPF:</label>
                  <input type="text" class="form-control" id="inputAddress3" placeholder="Digite o CPF" formControlName="cpf" name="cpf">
                </div>

                  <div class="form-group col-md-4" formGroupName="endereco">
                  <label for="inputAddress2">Logradouro:</label>
                  <input type="text" class="form-control" id="inputAddress2" formControlName="logradouro" placeholder="Logradouro" name="logradouro">
                </div> 
                
                
                <div class="form-group col-md-4" formGroupName="endereco">
                  <label for="inputAddress2">Bairro:</label>
                  <input type="text" class="form-control" id="inputAddress2" placeholder="Bairro" formControlName="bairro" name="bairro">
                </div>
                
                <div class="form-group col-md-4" [formGroup]="jsonPatient">
                  <label for="inputAddress3">Celular:</label>
                  <input type="text" class="form-control" id="inputAddress3" placeholder="Ex.: (11) 9 9999-9999" formControlName="telefone" name="telefone">
                </div>
          
                <div class="form-group col-md-4" formGroupName="endereco">
                  <label for="inputAddress3">Numero:</label>
                  <input type="number" class="form-control" id="inputAddress3" placeholder="Ex.: 123" formControlName="numero" name="numero">
                </div>
                <div class="form-group col-md-4" formGroupName="endereco">
                  <label for="inputAddress4">Complemento:</label>
                  <input type="text" class="form-control" id="inputAddress4" placeholder="Ex.: Perto da padaria" formControlName="complemento" name="complemento">
                </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-4" formGroupName="endereco">
                    <label for="inputCity">Cidade</label>
                    <input type="text" class="form-control" id="inputCity" placeholder="Ex.: São Paulo" formControlName="cidade" name="cidade">
                  </div>
                  <div class="form-group col-md-4" formGroupName="endereco">
                    <label for="inputState">UF</label>
                    <select id="inputState" class="form-control" formControlName="uf" name="uf">
                      <option selected>SP</option>
                    </select>
                  </div>
                  <div class="form-group col-md-2" formGroupName="endereco">
                    <label for="inputZip">CEP:</label>
                    <input type="text" class="form-control" id="inputZip" placeholder="99999-999" formControlName="cep" name="cep">
                  </div> 
                </div>
                <div class="form-group">
                </div>
                <button type="submit" style="margin-left: 36%;" class="btn btn-primary">Cadastrar</button>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample2">
        <div class="card card-body">
          <div id="formPatients">
            <div id="patients" *ngFor="let patients of patientFormById">

                <div class="infos">Doutor(a): {{patients.nome}}</div> 
                <div class="infos">CPF: {{patients.cpf}}</div> 
                <br>

              <form (ngSubmit) = "update()" [formGroup]="jsonPatientUpdate">
              <p style="text-align: center;">Edição Cadastral</p>

                <div class="form-row">
                  <div class="form-group col-md-6" [formGroup]="jsonPatientUpdate">
                    <label for="inputAddress">Nome</label>
                    <input type="text" class="form-control" id="nome" placeholder="Nome" formControlName="nome" name="nome">
                  </div> 

                  <div class="form-group col-md-6" [formGroup]="jsonPatientUpdate">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email" formControlName="email" name="email">
                  </div>
                </div>
          
              <div class="form-row">
                  <div class="form-group col-md-4" formGroupName="endereco">
                  <label for="inputAddress2">Logradouro:</label>
                  <input type="text" class="form-control" id="inputAddress2" formControlName="logradouro" placeholder="Logradouro" name="logradouro">
                </div> 
                
                
                <div class="form-group col-md-4" formGroupName="endereco">
                  <label for="inputAddress2">Bairro:</label>
                  <input type="text" class="form-control" id="inputAddress2" placeholder="Bairro" formControlName="bairro" name="bairro">
                </div>
              
              <div class="form-group col-md-4" [formGroup]="jsonPatientUpdate">
                  <label for="inputAddress3">CPF:</label>
                  <input type="text" class="form-control" id="inputAddress3" placeholder="Digite o CPF" name="CPF" value="{{patients.cpf}}" disabled>
                </div>
                <div class="form-group col-md-4" formGroupName="endereco">
                  <label for="inputAddress3">Numero:</label>
                  <input type="number" class="form-control" id="inputAddress3" placeholder="Ex.: 123" formControlName="numero" name="numero">
                </div>
                <div class="form-group col-md-4" formGroupName="endereco">
                  <label for="inputAddress4">Complemento:</label>
                  <input type="text" class="form-control" id="inputAddress4" placeholder="Ex.: Perto da padaria" formControlName="complemento" name="complemento">
                </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-4" formGroupName="endereco">
                    <label for="inputCity">Cidade</label>
                    <input type="text" class="form-control" id="inputCity" placeholder="Ex.: São Paulo" formControlName="cidade" name="cidade">
                  </div>
                  <div class="form-group col-md-4" formGroupName="endereco">
                    <label for="inputState">UF</label>
                    <select id="inputState" class="form-control" formControlName="uf" name="uf">
                      <option selected>SP</option>
                    </select>
                  </div>
                  <div class="form-group col-md-2" formGroupName="endereco">
                    <label for="inputZip">CEP:</label>
                    <input type="text" class="form-control" id="inputZip" placeholder="99999-999" formControlName="cep" name="cep">
                  </div> 
                </div>
                <div class="form-group">
                  <div id="buttonsSubmit">
                  <button type="submit" class="btn btn-primary">Editar</button>
                  <button type="button" (click)="deletePatient(patients.cpf)" style="margin-left: 2%;" class="btn btn-danger">Deletar</button>
                    
                </div>
              </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="display">
    <div id="buttons2">
    <p>
      <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      Exibir lista
      </a>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Exibir/Fechar Lista
      </button>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nome</th>
              <th scope="col">Email</th>
              <th scope="col">CPF</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let patient of patient">
              <td>{{ patient.id }}</td>
              <td>{{ patient.nome }}</td>
              <td>{{ patient.email }}</td>
              <td>{{ patient.cpf }}</td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>

</div>